<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <img src="/images/PinndItLogo250.png" alt="Logo" >
        <p>Welcome to <%= title %></p>
    </body>
</html>
