<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <img src="/images/PinndItLogo250.png" alt="Logo">
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaPH3EcFX_G-bjbb6JIdKwT65_N9mKX7E">
    </script>
    <script type="text/javascript">

        function AddControlPinn(controlDiv, map) {

            controlDiv.style.padding = '15px';

            var controlPinn = document.createElement('div');
            controlPinn.style.cursor = 'pointer';
            controlPinn.innerHTML = "<img src='/images/PinndItPin.png' width='50' height='50'>";
            controlDiv.appendChild(controlPinn);
        }

        function success(position) {

            var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);

            var options = {
                zoom: 15,
                center: coords,
                mapTypeControl: false,
                navigationControlOptions: {
                    style: google.maps.NavigationControlStyle.SMALL
                },
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), options);
            var marker = new google.maps.Marker({
                position: coords,
                map: map,
                draggable: true,
                animation: google.maps.Animation.DROP,
                title:"tittie sprinkles!"
            });
            var infowindow = new google.maps.InfoWindow({
                content: '<div id="content"><p>First Pinn!</p></div>',
                maxWidth: 500
            });
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.open(map,marker);
            });

            var pinnDiv = document.createElement('div');
            var addPinn = new AddControlPinn(pinnDiv, map);

            pinnDiv.index = 1;
            map.controls[google.maps.ControlPosition.TOP_RIGHT].push(pinnDiv);

            // google.maps.event.addListener(pinnDiv, 'click', function() {
            //     addNewPinn(event.latLng);
            // });
        }

        // function addNewPinn(location) {
        //     var pinn = new google.maps.Marker({
        //         position: location, 
        //         map: map
        //     });
        // }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success);
        } else {
            error('Geo Location is not supported');
        }
    </script>
</head>
<body>
<div id="map-canvas"></div>
</body>
<br>
<footer align="center">
    Pinndit Copyright 2014
</footer>
</html>