<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <div><%= message %></div><br>

    <p>Pinn Information</p>

    Event Name: <input type="text" name="event-name" readonly> <br>
    Event Description:  <input type="text" name="event-description" readonly> <br>
    <br>

    Comment: <input id= "submit" type="text" size="15">
    <button name="send" id= "send" class="send">Submit</button>


    <ul style="list-style: none" id="chat">
      <!-- Fill in with the posts from server. -->
    </ul>
  </body>
</html>